.nav-bar {
  height: 15vh;
  background-color: #13809b !important;
  font-weight: bold;
}

.nav-bar-brand {
  display: none;
  font-family: "Comic Sans MS";
  font-size: 1.5rem;
}

.nav-link {
  font-size: 1.1rem;
}

.nav-link:hover {
  transform: scale(1.1);
}

.active-nav-link {
  color: white !important;
}
